[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "bash -c 'cd pertemuansatu && python -m pytest main.py'"

[packages]
flask-restx = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
pyopenssl = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
